<h1>Here are your Quotes</h1>
<hr>
<div class="container">
  <div class="row" *ngFor="let saying of quotes;let i= index">
      <div class="col-md-6">
   <h2>"{{saying.quote}}"</h2>
   <i>"{{saying.author}}"</i><br>
      <!-- Display more details about the quote by clicking the button below -->
      <button class="btn btn-primary" (click)='toggleDetails(i)'>Show Details</button>
   </div>

   <!-- Load details component -->
   <div class="col-md-6" *ngIf="saying.showDetails"> 
   <app-details [saying]='saying' (complete)='removeQuote($event,i)'></app-details>
   </div>
</div>
